ignored_words = "reseller, customer, error, c, r, issue, client, ticket, https, screenshot, support, following, name, getting, kindly, please, reference, see, prntscr, information, trying, need, ref, one, hence, pm, jira, adhocnfoway, www, wse, endurance, gmail, says, thank, png, jpg, jpeg, gif, paye, jul, e, still, color, replicate, 2fwww, 2fservlet, refer, dnot, gets, two, april, entire, asked, many, want, fine, attachment, told, understand, regarding, take, keep, latest, someone, science, hello, might, rahul, backend, yesterday, answer, searched"