ignored_words = "reseller, customer, error, c, r, issue, client, ticket, https, screenshot, support, following, name, getting, kindly, please, reference, see, prntscr, information, trying, need, ref, one, hence, pm, jira, gmail, says, thank, png, jpg, jpeg, gif, still, color, replicate, asked, many, want, fine, attachment, told, understand, regarding, take, keep, latest, someone, science, hello, might, backend, yesterday, answer, searched"