# One dictionary is needed here. What's written below is just examples. You need to feed your own filters and create a jira_filters_to_scrape.py file. filters to get completed tickets contains all filters which need to be used for checking for missing incorrect documentation.

[FILTERS_TICKET_CHECK_FOR_INCORRECT_DOCUMENTATION]

project1_closed_tickets = project = ABC AND status in (Done, "Done/Done", Completed) AND component in ("Support - Project 1")

project2_closed_tickets = project = PQRS AND issuetype != Epic AND status in (Done, "Done/Done", Completed) AND component in ("Support - Project 2")